.authorization-form {
  padding: 0 16px 22px;
  overflow: hidden;

  .buttons-group {
    margin-top: 32px;
  }
}

.registration-form {
  &.authorization-enter.authorization-enter-active {
    height: 286px;
    opacity: 1;
    transition: all 500ms linear 200ms;
  }

  &.authorization-enter {
    height: 222px;
    opacity: 0;
  }

  &.authorization-leave {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 1;
  }

  &.authorization-leave.authorization-leave-active {
    opacity: 0;
    transition: all 500ms linear;
  }
}

.sign-in-form {
  &.authorization-enter.authorization-enter-active {
    height: 222px;
    opacity: 1;
    transition: all 500ms linear 200ms;
  }

  &.authorization-enter {
    height: 286px;
    opacity: 0;
  }

  &.authorization-leave {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 1;
  }

  &.authorization-leave.authorization-leave-active {
    opacity: 0;
    transition: all 500ms linear;
  }
}
