%reset-outline {
  box-shadow: none;
  outline: none;

  &:hover,
  &:focus,
  &:active,
  &:hover &:focus,
  &:focus:active {
    box-shadow: none;
    outline: none;
  }
}

%vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

%round-arrow-btn {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: $gray-200;
  border-radius: 100%;
  border: none;
  line-height: 1;
  transition: $transition;

  &:hover {
    background-color: $gray-400;
  }

  &:disabled {
    background-color: $gray-200;
  }

  &:active,
  &:focus {
    outline: none;
  }

  .ic {
    @extend %absolute-center;
  }
}

%disabled {
  cursor: $disabled-cursor;
  opacity: $disabled-opacity;
}

%vertical-align-helper {
  &::before {
    content: "";
    display: inline-block;
    height: 100%;
  }
}
