$animation-speed: 500ms;

.create-link {
  padding: 8px;
  position: relative;

  form {
    div:first-child {
      margin-top: 12px;
    }
  }

  .buttons-group {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}

.new-link {
  opacity: 0.6;
  border: dashed 2px $gray-500;
  position: relative;

  .btn {
    @extend %absolute-center;

    min-width: 0;
    width: 34px;
    padding: 0;

    .material-icons {
      @extend %absolute-center;
    }
  }
}

.wrap-create-link {
  text-align: center;
  perspective: 1700px;
  position: relative;
  width: 170px;

  .link {
    position: absolute;
    background-size: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .createlink-enter.createlink-enter-active {
    transform: rotateY(0deg);
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .createlink-enter {
    z-index: 1;
    transform: rotateY(-180deg);
    transition: all $animation-speed ease-out;
  }

  .createlink-leave {
    z-index: 2;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    transition: all $animation-speed ease-out;
  }

  .createlink-leave.createlink-leave-active {
    z-index: 1;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg);
  }
}

@media (max-width: 1000px) {
  .new-link .btn {
    width: 30px;
  }
}
