.links {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  flex-wrap: wrap;

  .link {
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);
    background: white;
    width: 170px;
    height: 250px;
    border-radius: 5px;
    margin: 5px;
  }
}
